@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

* {
    color: #F1F1F1;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Hind', sans-serif;
}

.margin-w {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

.margin-w-2 {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
}

.margin-h {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

body {
    background-color: #100F0F;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #100F0F;
    position: sticky;
    top: 0;
    z-index: 5;
}

.logo-div {
    display: flex;
    align-items: center;
}

.logo-name {
    font-size: 1.5rem;
    padding-left: 10px;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.logo {
    height: 70px;
    padding-left: 10px;
}

.logo-div img{
    height: 100%;
}

.menu {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.menu li {
    padding: 20px 15px;
    font-family: 'Hind', sans-serif;
}

.menu li:hover {
    color: #E2DCC8;
}

.menu-collapse li {
    font-family: 'Hind', sans-serif;
}

#menu, label, .menu-collapse {
    display: none;
}

.menu-collapse {
    margin-top: 200px;
    z-index: 3;
    background-color: #100F0F;
    width: 100%;
    padding-bottom: 10px;
}

.menu-collapse li {
    padding: 5px;
}

label i {
    font-size: 2rem;
    padding-left: 5px;
}

.hero {
    position: relative;
    height: 100%;

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.text-center {
    text-align: center;
}

.hp {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.bio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bio img {
    max-width: 28%;
    height: auto;
    flex-basis: 35%;
}

.bio p {
    /* padding: 1.5rem; */
    flex-basis: 64%;
}

.form label, .form input, .form textarea {
    display: block;
}
.form label {
    padding-bottom: 0.8rem;
}

.form input, .form textarea {
    width: 100%;
    color: #100F0F;
}

.form textarea {
    height: 7rem;
}

.button {
    background-color: #0F3D3E;
    padding: 10px 15px;
    cursor: pointer;
}

.button:hover {
    background-color: #1e797a;
}

.contact {
    display: flex;

}

.form {
    flex: 2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.soc-med {
    flex: 1;
    padding: 1.5rem;
    align-self: center;
}

.soc-med i {
    padding: 8px;
    font-size: 1.5rem;
}

.soc-med i:hover {
    transform: scale(1.2);
}

@media (max-width: 991.98px) {
    label {
        display: block;
    }

    .menu-main {
        display: none;
    }

    #menu:checked ~ .menu-collapse {
        display: block;
        position: absolute;
    }

}

@media (max-width: 767.98px) {
    .contact {
        flex-wrap: wrap;
    }

    .form {
        flex-basis: 100%;
    }

    .soc-med {
        margin-top: 3rem;
    }


    .bio img {
        max-width: 100%;
        flex-basis: 100%;
        margin: 0 auto;
    }

    .bio p {
        flex-basis: 100%;
        margin: 0 auto;
        padding-top: 2rem;
        padding-left: 0;
        padding-right: 0;
    }

    .margin-w {
        padding-left: 1%;
        padding-right: 1%;
    }

    label i {
        padding-left: 10px;
    }

    .menu-collapse {
        padding-left: 5px;
    }

    .logo-name {
        display: none;
    }

    .logo-div img {
        padding-right: 5px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: auto;
    }

}

@media (max-width: 575.98px) {
    .margin-w {
        padding-left: 0;
        padding-right: 0;
    }

    label i {
        padding-left: 20px;
    }

    .menu-collapse {
        padding-left: 15px;
    }

    .logo-div img {
        padding-right: 10px;
    }
 }
